<div class="sidebar">
    <input 
        type="text"  
        placeholder="Search" 
        [(ngModel)]="searchTerm"
        (ngModelChange)="getAllLocations()"
        />
    <div class="filters">
        <div class="dropdown">
            <button class="dropdown-button" (click)="dropdownToggle = !dropdownToggle">
                Filter by Rating
            </button>
            <div *ngIf="dropdownToggle" class="dropdown-menu">
                <div *ngFor="let rating of ratings">
                    <label class="dropdown-item">
                        <input
                            type="checkbox"
                            [value]="rating"
                            (click)="selectRating(rating)"
                        />
                        {{ rating }} Stars
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Select</th>
        <th>Name</th>
        <th>Date Visited</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let location of locations">
            <td>
                <input
                    type="checkbox" 
                    [checked]="selectedLocationsIds.includes(location.id)"
                    (change)="selectLocation(location)"
                />
            </td>
            <td>{{ location.name }}</td>
            <td>{{ location.dateVisited }}</td>
            <td>{{ location.rating }}</td>
        </tr>
    </tbody>
</table>

<div class="button-container">
    <button class="button" >Add</button>
    <button class="button" (click)="deleteLocations()" [disabled]="selectedLocationsIds.length == 0">Delete</button>
</div>

<div *ngIf="selectedLocationsIds.length == 1" id="location-details">
    <form id="update-location-form">
        <span>Name:</span>
            <input id="location-name-field" type="text" #locationName [value]="getSelectedLocation().name"/>
        <span>Date Visited:</span>
            <input id="location-date-field" type="text" #locationDate [value]="getSelectedLocation().dateVisited"/>
        <span>Rating:</span>
            <input id="product-rating-field" type="text" #locationRating [value]="getSelectedLocation().rating"/>
        <button 
            class="button" 
            [disabled]="selectedLocationsIds.length != 1" 
            (click)="updateLocation(locationName.value, locationDate.value, +locationRating.value)"
            >
            Update
        </button>
    </form>
</div>